
layout name="Toolkit (NeMo Guardrails)" {
    tab name="Toolkit (NeMo Guardrails)" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="horizontal" {
            pane name="Neovim" {
                edit "."
                cwd "~/git/NeMo-Guardrails/"
                size "80%"
            }
            pane split_direction="vertical" {
                pane name="Ipython" {
                    command "poetry"
                    args "run" "ipython"
                    cwd "~/git/NeMo-Guardrails/"
                    start_suspended true
                    size "60%"
                }

                pane name="LazyGit" {
                    command "lazygit"
                    cwd "~/git/NeMo-Guardrails/"
                    start_suspended true
                    size "25%"
                }

                pane name="Pytest" {
                    command "poetry"
                    args "run" "pytest" "tests"
                    cwd "~/git/NeMo-Guardrails/"
                    start_suspended true
                }
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}

